[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/aseprite/freetype2.git
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/sol3"]
	path = lib/sol3
	url = https://github.com/ThePhD/sol2.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d.git
